<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wasu.springboot.integration.dao.impl.OutsideReportDaoImpl">
    <insert id="batchInsert" parameterType="com.wasu.springboot.integration.entity.report.OutSideReportEntity">
        INSERT INTO wb_report(
        creater,updater,report_type,report_type_name,report_code,report_name,
        wb_report_grade_id,report_title,report_desc,report_keyword,rela_report_id,import_user,mechanism,
        author,industry,industry_name,report_source,file_path,report_url,original_industry
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            0,0,#{item.reportType},
            #{item.reportTypeName},#{item.reportCode},#{item.reportName},
            #{item.wbReportGradeId},#{item.reportTitle},#{item.reportDesc},
            #{item.reportKeyword},#{item.relaReportId},#{item.importUser},#{item.mechanism},
            #{item.author},#{item.industry},#{item.industryName},
            #{item.reportSource},#{item.filePath},#{item.reportUrl},#{item.originalIndustry}
            )
        </foreach>
    </insert>
</mapper>